* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.empty {
    height: 400px;
    display: none;
}

html {

    font-size: 10px;
}

.allign-center {

    text-align: center;

}

.allign-center-ver {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

body {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #333;
    color: white;


}

nav {
    margin: 0 auto 0;
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: #333;
    font-size: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    z-index: 1 !important;
    
}

.navcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}


nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;




}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}


nav a:nth-child(1) {
    width: 100px;
}

nav a:nth-child(2) {
    width: 175px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav .start-home,
nav a:nth-child(1):hover {
    border-radius: 8px;
    background-color: #1abc9c;
}

nav .start-about,
nav a:nth-child(2):hover {
    border-radius: 8px;
    background-color: #e74c3c;
}

nav .start-blog,
nav a:nth-child(3):hover {
    border-radius: 8px;
    background-color: #3498db;

}


a {
    text-decoration: none;
    color: white;
}

header p {
    padding: 1.6rem 1.6rem;
    background-color: rgba(175, 54, 54, 0.158);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.1px rgba(175, 54, 54, 0.158);
    border-radius: 20px;
    margin-top: 2rem;

}

header {
    height: 45rem;
    width: auto;


}

header .bg-img {
    position: absolute;
    background-image: url(images/to_the_moon.webp);
    background-size: cover;
    background-position: center;
    height: 45rem;
    width: 100%;
    opacity: 0.5;
    z-index: -1;

}

header .content {
    padding: 15rem 0;
    padding-bottom: 0;
    opacity: 1;

}

.btn {
    display: inline-block;
    padding: 0.7rem;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 10rem;
    box-shadow: 3px 1px 15px white, 0px 3px 15px lightgray inset;
    -moz-box-shadow: 3px 1px 15px white, 0px 3px 15px lightgray inset;
    -webkit-box-shadow: 3px 1px 15px white, 0px 3px 15px lightgray inset;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #333;
    border: 2px solid white;
    font-size: 2rem;
    box-shadow: 10px 1px 15px white;
    -moz-box-shadow: 10px 1px 15px white;
    -webkit-box-shadow: 10px 1px 15px white;

}

.container {
    display: flex;
    flex-direction: row;
    border: 0px solid #333;
    height: fit-content;
    margin: 2rem;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: #333;
    color: #eaeaee;
}

.container::-webkit-scrollbar {
    width: 0px;
}

.slider {
    margin: 2rem;
    display: flex;
    list-style: none;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 0 !important;
}

.slider img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.slider>* {
    width: 33%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 0 0 auto;
    background: #333;
    color: #eaeaee;
    border-radius: 15px;
}

.a11y-slider-autoplay {
    display: none;
}

.a11y-slider-dots{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a11y-slider-dots li {
    display: block;

    width: 12px;
    aspect-ratio: 1;
    padding: 0;
    margin: 0 6px;
    color: #333;

}

.a11y-slider-dots li button{
    display: block;
   
    font-size: 0;
    text-indent: -9999px;
    border: 1px solid #333 !important;
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.a11y-slider-prev {
    transition: border-color .2s ease;
    background-color: transparent;
    border: 1px solid #333(0, 0%, 100%, .15) !important;
    border-radius: 15px;
    color: #333 !important;
    cursor: pointer;
    display: inline-block;
    font-size: .6em;
    letter-spacing: .25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 2rem;

}

.a11y-slider-next {
    float: right;
    transition: border-color .2s ease;
    background-color: transparent;
    border: 1px solid #333(0, 0%, 100%, .15) !important;
    border-radius: 15px;
    color: #333 !important;
    cursor: pointer;
    display: inline-block;
    font-size: .6em;
    font-weight: 500;
    height: calc(4.75em + 2px);
    letter-spacing: .25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 2rem;
}

.a11y-slider-prev:hover,
.a11y-slider-next:hover {
    background: #333;
    color: #eaeaee !important;
    border: 1px solid #eaeaea(0, 0%, 100%, .15) !important;
}

.services {
    flex-shrink: 0;
    overflow: hidden;
    padding: 1.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 0px solid #333;
    height: fit-content;
    border-radius: 15px;
    background-color: #333;
    color: #eaeaee;
    justify-content: center;
    gap: 8rem;
}



.services img {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1;

}


.container-col {
    display: flex;
    border: 2px solid #333;
    height: fit-content;
    margin: 2rem;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: #333;
    color: #eaeaee;
}

.container-col-own {
    display: flex;
    border: 2px solid #333;
    height: fit-content;
    margin: 2rem;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: #333;
    color: #eaeaee;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    border: 0px solid black;
    border-radius: 15px;
    margin: 5px;

}

.box-own {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    border: 0px solid black;
    border-radius: 15px;
    margin: 5px;

}


img {
    transition: 1s;
}

#s1 img:hover {
    transform: scale(1.2)
}




#s1 {
    background-color: #eaeaee;
    color: #333;
    padding: 3.2rem 0;
    height: fit-content;

}



.except img {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: auto;
    margin-right: 1rem;
    min-width: unset;

}

#s1 p {

    text-align: left;

}

#s2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    border: 0px solid black;
    border-radius: 15px;

}

#s2 {
    background-color: #eaeaee;
    color: #333;
    padding: 3.2rem 0;
    height: fit-content;

}

.box-2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px;

}

.footer {
    margin-top: 2rem;
    bottom: 0;
    min-height: 250px;
    justify-content: space-around;
    display: flex;
    color: #333;
}

.footer>* {
    display: flex;
    gap: 8rem;
}

#s3 {
    background-color: #eaeaee;
    color: #333;
    padding: 3.2rem 0;
    height: fit-content;

}

#s3 img {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;


}

#s3 img:hover {
    transform: scale(1.2)
}

.round {
    border: 0px solid black;
    border-radius: 15px;
}

#logo {
    margin-left: 20px;
    width: 113px;
    height: auto;
}

#s3 li {
    font-size: 1rem;
    display: inline-block;

    transition: 0.4s;
}

#s3 li h1 {
    margin-top: 2rem;
    color: #333;


}

.add {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    border: #eaeaee solid 1px;
    font-size: 0.8rem;

}



.add img {
    width: 250px;
    height: auto;
    transition: 1s;
}

.add img:hover {
    transform: scale(1.2)
}

@media screen and (min-width:801px) {
    .topnav {
        display: none;

    }


}

@media screen and (max-width:800.9px) {
    .topmenu {
        display: none;
    }

    nav {
        display: none;
    }

    .topnav {
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: #333;
        animation: 1s ease-out 0s 1 slideInFromLeft;
        z-index: 1 !important;


    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        animation: 1s ease-out 0s 1 slideInFromTop;
    }

    #logo {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        display: block;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        display: block;

    }


    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #333;
        color: white;
    }

    .slider>* {
        width: 100%;

    }

    .a11y-slider-prev {
        display: block;
        float: none;
        width: 100%;
        margin: 0 0 10px;
        height: auto;

    }

    .a11y-slider-next {
        display: block;
        float: none;
        width: 100%;
        margin: 0 0 10px;
        height: auto;
    }

    .container-col-own {
        display: flex;
        flex-direction: column;
        border: 0px solid #333;
        height: fit-content;
        margin: 2rem;
        border-radius: 15px;
        padding: 1.5rem;
        background-color: #333;
        color: #eaeaee;
    }

    .box-own {

        width: 100%;
        border: 0px solid black;
        border-radius: 15px;
        margin: 5px;

    }

    #s3 img {

        display: flex;
        justify-content: space-around;

        width: 75px;
        height: auto;
        gap: 4rem;
        margin-top: 2rem;

    }



    .add img {
        width: 100px;
        height: auto;
    }

    .except img {

        width: 100px;
        height: auto;


    }

    #s2 img {

        width: 75%;
        height: auto;


    }


}